<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Endless End</title>
  <!-- Favicon -->

  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/fas-all.min.js"></script>


  <link href="https://fonts.googleapis.com/css?family=Nunito:300,500,700,800&display=swap&subset=latin-ext"
    rel="stylesheet">
  <link rel="stylesheet" href="style/bootstrap.min.css" />
  <link rel="stylesheet" href="style/styles.css" />
  <link rel="stylesheet" href="style/animate.min.css" />
  <link rel="stylesheet" href="style/fas-all.min.css" />

</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light px-lg-5 py-3">
    <a class="navbar-brand" href="#">
      <!--<img src="../resimler/logo.png" class="navbar-brand-logo"> -->Endless End
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="nav navbar-nav ml-auto w-100 justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fas fa-home "></i> Home</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="/books" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-share-alt"></i> Books
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/books.html?sort=popular">Popular Books</a>
            <a class="dropdown-item" href="/books.html?sort=vote">Most Voted Books</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-books"><i class="fas fa-pen-fancy"></i> Compose</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq"><i class="fas fa-question"></i> FAQ</a>
        </li>

      </ul>

    </div>
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="navbar-avatar" src="https://i.hizliresim.com/0031A8.png">
        NAME </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/profile.html">My Profile</a>
        <a class="dropdown-item" href="/my-library.html">My Library</a>
        <a class="dropdown-item" href="/my-books.html">My Desk</a>
        <a class="dropdown-item" href="/edit-profile.html">Edit Profile</a>
        <a class="dropdown-item text-danger" href="/log-out">Log out</a>
      </div>
    </div>

  </nav>

  <div class="container-fluid bg-light">


    <div class="container py-5">
      <h1 class="text-blu text-left py-5 my-0 disp-inl">My Desk</h1><a href="" class="btn btn-primary mb-4 ml-4">New
        Book + </a>

      <table class="table">
        <thead class="bg-white" style="border-radius: 15px;">
          <tr>
            <th scope="col">Cover Image</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Last Update</th>
            <th scope="col">Votes</th>
            <th scope="col">Views</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="assets/story-1.png" class="table-image"></td>
            <td class="table-title">Mark</td>
            <td>Published</td>
            <td>13 December 2019</td>
            <td>333</td>
            <td>555</td>
            <td><a href=" #"><i class="fas fa-wrench mt-4"></i></td>
          </tr>
          <tr>
            <td><img src="assets/story-2.png" class="table-image"></td>
            <td class="table-title">Mark</td>
            <td>Draft</td>
            <td>13 December 2019</td>
            <td>333</td>
            <td>555</td>
            <td><a href=" #"><i class="fas fa-wrench mt-4"></i></td>
          </tr>
          <tr>
            <td><img src="assets/story-1.png" class="table-image"></td>
            <td class="table-title">Mark</td>
            <td>Draft</td>
            <td>13 December 2019</td>
            <td>333</td>
            <td>555</td>
            <td><a href=" #"><i class="fas fa-wrench mt-4"></i></td>
          </tr>
          <tr>
            <td><img src="assets/story-2.png" class="table-image"></td>
            <td class="table-title">Mark</td>
            <td>Draft</td>
            <td>13 December 2019</td>
            <td>333</td>
            <td>555</td>
            <td><a href=" #"><i class="fas fa-wrench mt-4"></i></td>
          </tr>
          <tr>
            <td><img src="assets/story-1.png" class="table-image"></td>
            <td class="table-title">Mark</td>
            <td>Draft</td>
            <td>13 December 2019</td>
            <td>333</td>
            <td>555</td>
            <td><a href=" #"><i class="fas fa-wrench mt-4"></i></td>
          </tr>
          <tr>
            <td><img src="assets/story-2.png" class="table-image"></td>
            <td class="table-title">Mark</td>
            <td>Draft</td>
            <td>13 December 2019</td>
            <td>333</td>
            <td>555</td>
            <td><a href=" #"><i class="fas fa-wrench mt-4"></i></td>
          </tr>
          <tr>
            <td><img src="assets/story-1.png" class="table-image"></td>
            <td class="table-title">Mark</td>
            <td>Draft</td>
            <td>13 December 2019</td>
            <td>333</td>
            <td>555</td>
            <td><a href=" #"><i class="fas fa-wrench mt-4"></i></td>
          </tr>
        </tbody>
      </table>





    </div>


  </div>
  <footer>
    <div class="container-fluid bg-gri pt-4 pb-2">
      <div class="container">
        <div class="row">

          <div class="col-md-3 text-left text-white">© 2019 Endless End</div>

          <div class="col-md-9 text-right">
            <ul class="list-inline">
              <li class="list-inline-item "><a href="#">Contact / Send Feedback</a></li>
              <li class="list-inline-item"><a href="#">About Endless End</a></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
              <li class="list-inline-item"><a href="#">Terms of Services</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </footer>
</body>





</html>