{% extends "base.html" %}
{% block body %}
    <div class="m-5 row">
        <div class="card-deck">
            {% for book in books %}
                <div class="col-md-3">
                    <div class="card" style="min-height: 600px;">
                        <img class="card-img-top" src="https://via.placeholder.com/341x341.png?text={{ book.title }}" alt="{{ book.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">{{ book.description | safe }}</p>
                            <small class="text-muted">{{ book.status }}</small>
                        </div>
                        <div class="card-footer">
                            <ul class="nav nav-pills card-header-pills">
                              <li class="nav-item">
                                <a class="nav-link" href="/book/Macera-Tuneli/settings/{{ book.id }}"><button id="End" type="button" class="btn btn float-right btn-info">Settings</button></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link"href="/book/Macera-Tuneli/parts/{{ book.id }}"><button id="End" type="button" class="btn btn float-right btn-info">Continue</button></a>
                              </li>
                            </ul>
                        </div>
                    </div>
                <div class="mt-5"></div>
                </div>
            {% endfor %}
            <div class="col-md-3">
                <div class="card" style="min-height: 600px;">
                    <a href="/compose/new" class="rounded my-auto mx-auto d-block" style="max-width: 30%;">
                        <img style="width: 100%;" src="http://cdn.onlinewebfonts.com/svg/img_514215.png" alt="Compose New">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
