{% extends "base.html" %}
{% block body %}

  <div class="container-fluid bg-light">
    <div style="text-align: center;">
      <h1 style="font-size: 200px; margin:0px; padding-top:10%">404</h1>
      <h2 style="z-index: 99999;" style="font-size: 50px; margin:0px;">NOT FOUND</h2>
      </br>
      <img style="position:sticky; margin-top:-250px; z-index:0" class="w-25" src="/assets/404-shelf.png"></br>
      <a href="/" style="z-index: 1150;"><button class="btn btn-primary my-5">Go Home ></button></a>
    </div>

  </div>
  <footer>
    <div class="container-fluid bg-gri pt-4 pb-2">
      <div class="container">
        <div class="row">

          <div class="col-md-3 text-left text-white">© 2019 Endless End</div>

          <div class="col-md-9 text-right">
            <ul class="list-inline">
              <li class="list-inline-item "><a href="#">Contact / Send Feedback</a></li>
              <li class="list-inline-item"><a href="#">About Endless End</a></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
              <li class="list-inline-item"><a href="#">Terms of Services</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </footer>
{% endblock body %}
