<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Endless End</title>
  <!-- Favicon -->

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/fas-all.min.js"></script>

  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,500,700,800&display=swap&subset=latin-ext"
    rel="stylesheet">
  <link rel="stylesheet" href="/style/bootstrap.min.css" />
  <link rel="stylesheet" href="/style/styles.css" />
  <link rel="stylesheet" href="/style/style_overwrites.css" />
  <link rel="stylesheet" href="/style/animate.min.css" />
  <link rel="stylesheet" href="/style/fas-all.min.css" />

</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light px-lg-5 py-3">
    <a class="navbar-brand" href="#">
      <!--<img src="../resimler/logo.png" class="navbar-brand-logo"> -->Endless End
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="nav navbar-nav ml-auto w-100 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/my-books"><i class="fas fa-pen-fancy"></i> My Books</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="/books" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-share-alt"></i> Books
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/books?sort=popular">Popular Books</a>
            <a class="dropdown-item" href="/books?sort=vote">Most Voted Books</a>

          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/faq"><i class="fas fa-question"></i> FAQ</a>
        </li>

      </ul>

    </div>
      {% if user_info is not none %}

            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="navbar-avatar" src="https://i.hizliresim.com/0031A8.png">
                {{  user_info }} </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/profile.html">My Profile</a>
                <a class="dropdown-item" href="/my-library.html">My Library</a>
                <a class="dropdown-item" href="/my-books.html">My Desk</a>
                <a class="dropdown-item" href="/edit-profile.html">Edit Profile</a>
                <a class="dropdown-item text-danger" href="/logout">Log out</a>
              </div>
            </div>
        {% else %}
        <a href="/login">
          <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i> Become a Wooker!</button>
        </a>
    {% endif %}
  </nav>

    {% block body%}
    <!-- Page Content -->
    {% endblock %}

      <footer>
        <div class="container-fluid bg-gri pt-4 pb-2">
          <div class="container">
            <div class="row">

              <div class="col-md-3 text-left text-white">© 2019 Endless End</div>

              <div class="col-md-9 text-right">
                <ul class="list-inline">
                  <li class="list-inline-item "><a href="#">Contact / Send Feedback</a></li>
                  <li class="list-inline-item"><a href="#">About Endless End</a></li>
                  <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="#">Terms of Services</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>
      </footer>
</body>





</html>
