{% extends "base.html" %}
{% block body %}

  <div class="container-fluid bg-light pb-5">
    <div class="container py-5 h-100">
      <div class="row">

        <div class="col-md-9">
          <h1 class="text-blu disp-inl">Compose</h1><a href="#"></a>
          <div class="mt-5">
          </div>
          <div class="warpper" style="width: 800px; margin: auto">

            <form id="editorForm" action="./next" method="post" id="identifier">

              <div class="form-group">
                <label class="input-labeli" for="title">
                  Title</label>
                <input type="text" class="form-control" id="title" for="title" placeholder="Title">
              </div>
              <div class="form-group">
                <label class="input-labeli" for="tags">
                  Tags</label>
                <input type="text" class="form-control" id="tags" for="tags" placeholder="Tags">
              </div>


              <label class="input-labeli" for="description">
                Description</label>
              <div id="editor"></div>

            </form>



          </div>

        </div>

        <div class="col-md-3" style="margin-top: 95px">
          <h3 style="font-weight: 300;" class="disp-inl">Set Cover Image</h3></br>
          <div class="w-100 bg-dark mt-3" style="height: 150px;"><img src="assets/story-1.png" class="h-100 w-100">
          </div>
          </br>
          </br>
          <div class="form-group">

              <button id="create" class="btn btn-primary mb-4 ml-2">Create&nbsp;&nbsp;<i class="fas fa-chevron-circle-right"></i></button></a>
          </div>
        </div>
      </div>

    </div>


  </div>
<!-- Include the Quill library -->
<script>
    pageId = '{{ page_id }}';
    bookId = '{{ book_id }}';
    pathId = '{{ path_id }}';
</script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>

{% endblock body %}
