{% extends "base.html" %}
{% block body %}
	<div class="warpper" style="margin: 20px">
        <h2>Most Popular Books</h2>
        <div class="card-deck">
            {% for book in books %}
                <div class="col-md-3">
                    <div class="card" style="min-height: 600px;">
                        <img class="card-img-top" src="https://via.placeholder.com/341x341.png?text={{ book.title }}" alt="{{ book.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">{{ book.description | safe }}</p>
                        </div>
                        <div class="card-footer">
                            <ul class="nav nav-pills card-header-pills">
                              <li class="nav-item">
                                <a class="nav-link"href="/book/Macera-Tuneli/read/{{ book.id }}"><button id="read" type="button" class="btn btn float-right btn-info">Read</button></a>
                              </li>
                            </ul>
                        </div>
                    </div>
                <div class="mt-5"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}